%p Welcome %{@member}!

%p You can confirm your account through the link below:

%p= link_to 'Confirm my account', community_member_confirmation_url(@community, :confirmation_token => @member.confirmation_token, :host => @community.host)
