- if @communities.any?
  %div.row
    %div.span6
      %div.page-header
        %h2 Existing communities
      %table
        - @communities.each do |community|
          %tr
            %td= link_to community, url_for(:subdomain => community.uri)
            %td= community.user

